@model List<MovieCardViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies.ITAcademy.Ge</h1>

@foreach(var m in Model)
{
    <partial name="MovieCard" model="m"/>
}



